*, *:before, *:after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

html, body {
  background-color: #222222;
  font-family: 'Open Sans', sans-serif;
  line-height: 32px;
  font-size: 24px;
  width:100vw; 
  min-height: 100vh
}

ol {
  counter-reset: counter;
  list-style: none;
}
ol li {
  counter-increment: counter;
  position: relative;
  color: #fff;
  padding: 12px;
}

ol li::before {
  font-weight: 400;
  font-family: 'Rubik Mono One', sans-serif;
  content: counter(counter);
  color: #FD5C09;
  position: absolute;
  --size: 40px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  min-height: var(--size);
  background: #fff;
  border-radius: 50%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

aside {
  float: right;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content {
  max-width: 1330px;
  margin: 0 auto;
  padding: 50px 15px;
}

.sanki__nav--link {
  font-weight: 400;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 24px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-self: baseline;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 0px 40px 0px;
}

.nav__left-container {
  display: flex;
  align-items: center;
  width: 50%;
}

.nav__right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.nav__right-container a {
  margin-left: 20px;  
}

.header__nav:first-child {}
.header__nav--link {
  color: rgba(255, 255, 255, 0.4);
}

.header__nav--link:hover {
  transition: 0.5s;
  color: #fff;
}

.nav__link--back::before {
  content: '< '
}

.sanki__main--container {
  max-height: 100%;
}

.sanki__main--block {
  display: flex;
  width: 68%;
  min-height: 510px;
  margin: 8px 8px 16px 8px;
  border-radius: 32px;
  background: linear-gradient(253.6deg, #ED6387 0%, #FE5B00 100%);
}

.shop__block--empty {}

.sanki__main--block ol {
  padding: 0px 16% 0px 17%;
}

.sanki__main--block h1 {
  padding: 48px 20px 18px 48px;
  line-height: 97%;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Rubik Mono One', sans-serif;
  color: #fff;
}

.main__block {
  align-items: center;
}

.main__block h1 {
  font-size: 58px;
  word-spacing: -30px;
}

.main__block:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.main__block:nth-child(2) {
  display: flex;
}

.main__block img  {
  position: relative;
  --width: 380px;
  height: var(--width);
  left: 0px;
}

.sanki__main--image {
  border-radius: 50%;
  filter: drop-shadow(6px 6px 10px #000);
}

.sanki__shop--aside {
  position: relative;
  right: 100px;

  display: flex;
  flex-direction: column;

  width: 280px;
  border-radius: 8px;
  margin: 8px;
  padding: 12px;

  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 400;
  
  background: rgba(255, 255, 255, 0.04);
}

.ex {
  padding: 10px;
}

.shop__aside--discount {
  display: grid;
  padding: 100px;
  margin: 100px;
  width: 280px;
}

.sanki__shop--aside p {
  color: rgba(255, 255, 255, 0.32);
}

.shop__aside--title {
  color: #fff;
  text-align: center;

  padding: 8px 0px 20px 0px;
}

.shop__aside--title h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.shop__aside--order {
  display: flex;
  flex-direction: row;
  align-self: center;

  width: 95%;
  min-height: 100px;

  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0px;
}

.shop__aside--order h2, .shop__aside--order p {
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: normal;
  line-height: 20px;
}

.shop__aside--order h2 {
  color: #fff;
}

.shop__aside--summary {
  display: flex;
  flex-direction: row;
  align-self: center;

  width: 90%;
  min-height: 50px;

  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0px;
}

.shop__aside--summary h2, .shop__aside--summary p {
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: normal;
  line-height: 20px;
}

.shop__aside--summary h2 {
  color: #fff;
}

.order__name--column {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

.order__name--price {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-end;
}

.block__order--sale-5::before {
  content: "-5% ";
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin: 8px;

  color: #3BAA46;
}

.block__order--sale-10::before {
  content: "-10% ";
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin: 8px;

  color: #3BAA46;
}

.block__order--sale-15::before {
  content: "-15% ";
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin: 8px;

  color: #3BAA46;
}

.shop__aside--discount {
  height: 72px;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
}

.sanki__order--block {
  display: grid;
  max-width: 68%;
  background: #fff;
  border-radius: 32px;
  margin: 8px 8px 16px 8px;
}

.order__block {
  font-family: 'Rubik Mono One', sans-serif;
  margin: 32px 48px;
}

.order__block h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.order__block--items {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
}

.order__block--items:nth-child(2n+1) {
  background: rgba(196, 196, 196, 0.16);
}
.order__block--items:last-child {
  border-radius: 0px 0px 32px 32px;
}

.order__block--items h2, p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  padding: 4px;
}

.order__block--items p {
  color: #999999;
}

.order__block--icon {
  width: 120px;
  min-height: 120px;
  background-color: #C4C4C4;
  border-radius: 20px;
}

.order__block--cost {
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  color: #222222;
  width: 40%;
  text-align: center;
}

.order__block--addbtn {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 133%;
  color: #FFFFFF;
  width: 30%;
  text-align: center;
}

.addbtn__style {
  display: flex;
  padding: 8px 16px 10px;
  width: 117px;
  min-height: 42px;
  background: #00A3FF;
  border-radius: 8px;
}

.addbtn__style:hover {
  transition: 0.5s;
  background: #0082cc;
}
